/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: var(--main-text);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button,
input {
    background: transparent;
    border: none;
    cursor: pointer;
}


html {
    font-size: 22px;
}

/* root */
:root {
    /* color */
    --main-background-color: #191919;
    --main-color-text: #FFFFFF;
    --dark-color: #000000;
    --accent-color: #118DA8;

    /* font-size */ 
    --main-text: 1rem;
    --title-text: 2.8rem;
    --subtitle-text: 2.5rem;
    --section-title-text: 2rem;
    --small-text: 0.9rem;
    --middle-text: 1.2rem;

}

/* main css */
body {
    font-family: 'DM Sans', sans-serif;
    background: var(--main-background-color);
    color: var(--main-color-text);
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.episodes,
.about,
.comments,
.footer {
    padding: 80px 0;
}

.artist {
    padding-bottom: 80px;
}

.subscribe {
    padding-top: 80px;
}

.menu__item a,
.add-menu__item a {
    font-size: var(--small-text);
}

.btn {
    font-size: var(--small-text);
    line-height: 1.58;
    color: var(--main-color-text);
    background-color: var(--accent-color);
    /* height: 50px; */
    padding: 15px 20px;
    border-radius: 6px;
}

.section__title,
.subscribe__title  {
    font-size: var(--section-title-text);
    letter-spacing: 2.88px;
}

.subtitle {
    font-size: var(--small-text);
    color: var(--accent-color);
}

/* media */

@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    html {
        font-size: 18px;
    }
    
    
}
@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
    .episodes,
    .about,
    .comments,
    .footer {
        padding: 50px 0;
    }
    .artist {
        padding-bottom: 50px;
    }
    
    .subscribe {
        padding-top: 50px;
    }
}
@media screen and (max-width: 590px) {
    .episodes,
    .about,
    .comments,
    .footer {
        padding: 30px 0;
    }
    .artist {
        padding-bottom: 30px;
    }
    
    .subscribe {
        padding-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 320px) {
    
}