.header__container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header__container .nav{
    max-width: 400px;
    width: 100%;
    margin-left: 50px;
}

.header__container .nav .menu {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.header__container .nav .menu .menu__item a {
    margin: 0 15px;
}