
.artist__container {
    display: flex;
    margin-bottom: 160px;
}
.artist__container div {
    flex: 0 0 50%;
}
.artist__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    
}
.artist__btn {
    width: 112px;
    height: 112px;
    background-color: var(--accent-color);
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.artist__btn img {
    width: 50px;
}

.artist__subtitle {
    margin-top: 20px;
}

.artist__text {
    opacity: 0.7;
    margin-top: 28px;
}

.artist__img-block {
    
    position: relative;
    padding: 0 0 60%;
}

.artist__img-block img {
    position: absolute;
    width: 100%;
    height: 100%;
    
}