.artist__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.artist__container div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
}

.artist__text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 40px;
}

.artist__btn {
    width: 112px;
    height: 112px;
    background-color: var(--accent-color);
    border-radius: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.artist__btn img {
    width: 50px;
}

.artist__subtitle {
    margin-top: 20px;
}

.artist__text {
    opacity: 0.7;
    margin-top: 28px;
}

.artist__img-block img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

/* media */


@media screen and (max-width: 992px) {
    .artist__btn {
        width: 90px;
        height: 90px;
    }
    
}
@media screen and (max-width: 768px) {
    .artist__container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .artist__text-block {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 60%;
                flex: 0 1 60%;
    }
    
    .artist__img-block {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 40%;
                flex: 0 1 40%; 
    }
    .artist__btn {
        width: 60px;
        height: 60px;
    }
    .artist__btn img {
        width: 50%;
    }
    
}
@media screen and (max-width: 590px) {
    .artist__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .artist__text-block {
        margin-bottom: 40px;
    }
    .artist__img-block img {
        width: 70%;
    }
    
}
@media screen and (max-width: 480px) {
    .artist__img-block img {
        width: 100%;
    }
    
}
