
.subscribe__container {
    position: relative;
    background-color: var(--dark-color);
    padding: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
}

.subscribe__container::after {
    position: absolute;
    content: url(../lines-2.svg);
    left: -38px;
    bottom: -26px;
}


.subscribe__title {
    margin-top: 30px;
    max-width: 430px;
    width: 100%;
    line-height: 1.1;
    letter-spacing: 2.88px;
}

.subscribe__text-block {
    flex: 0 0 40%;
    margin-right: 40px;
}
.subscribe__form {
    max-width: 522px;
    width: 100%;
    /* margin-left: 40px; */
}
.form__input {
    width: 100%;
    /* height: 82px; */
    padding:20px;
    margin-bottom: 20px;
    background-color: var(--main-background-color);
    border-radius: 6px;
    border: 1px solid var(--main-background-color);
}

.form__input::placeholder {
    opacity: 0.7;
}

/* media */

@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    .form__input {
        padding: 20px;
    }
    
}
@media screen and (max-width: 768px) {
    .subscribe__container {
        flex-direction: column;
        padding: 40px;
    }
    .subscribe__title {
        margin: 10px 0 30px;
        
    }
    .form__input {
        padding: 10px;
        max-width: 350px;
        width: 100%;
    }
    .subscribe__btn {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 590px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {
    .subscribe__container {
        border-radius: 16px;
        padding: 25px;
    }
}