.players__list {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    margin: 0 -8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.players__list li {
    margin: 0 8px;
    width: 32px;
}
.players__list li a img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: 32px;
}
