.episodes__container {
    width: 100%;
}

.episodes__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
}

.episodes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0;

}

.episodes__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--dark-color);
    margin: 10px 0;
    border-radius: 32px;
    padding: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

/* media */

@media screen and (max-width: 768px) {
    .episodes__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .episodes__header {
        margin-bottom: 40px;
    }
    .episodes__list {
        margin: -15px 0;
    }
    
    .episodes__item {
        margin: 15px 0;    
    }
    
}
@media screen and (max-width: 590px) {
    .episodes__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .episodes__header h2 {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {
    .episodes__item {
        border-radius: 16px;
        padding: 25px;
    }
    
}