.footer {
    width: 100%;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.footer__first-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
}
.footer__block-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.footer__second-block,
.footer__third-block {
    
    margin: 0 10px;
}
.footer__fourth-block  {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;

}
.socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px -5px;
}

.socials__item {
    margin: 0 5px;
}

.footer__container .nav .menu .menu__item,
.add-menu__item {
    margin-bottom: 10px;
}

/* media */

@media screen and (max-width: 768px) {
    
    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer__container div{
        margin: 0 50px 10px 0  ;
    }
    
}

@media screen and (max-width: 480px) {
    .footer__fourth-block  {
        display: none;
    
    }
}