.footer {
    width: 100%;
}

.footer__container {
    display: flex;
    /* margin: 0 -10px; */
    /* width: 100%; */
    justify-content: space-between;
}

.footer__container div {
    /* margin: 0 10px; */
}

.footer__first-block {
    flex: 0 1 30%;
}
.footer__block-blocks {
    display: flex;

}
.footer__second-block,
.footer__third-block {
    
    margin: 0 10px;
}
.footer__fourth-block  {
    flex: 0 1 40%;

}
.socials__list {
    display: flex;
    margin: 20px -5px;
}

.socials__item {
    margin: 0 5px;
}

.footer__container .nav .menu .menu__item,
.add-menu__item {
    margin-bottom: 10px;
}

/* media */

@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    
    .footer__container {
        flex-direction: column;
    }
    .footer__container div{
        margin: 0 50px 10px 0  ;
    }
    
}
@media screen and (max-width: 590px) {
    
}
@media screen and (max-width: 480px) {
    .footer__fourth-block  {
        display: none;
    
    }
}
@media screen and (max-width: 320px) {
    
}